/*------------------------------------------------------------------

Project:		Jobado Portfolio
Version:		1.1
Last change:	‎29/9/‎2017
Created by: 	Lionode

-------------------------------------------------------------------*/

/* -----  Google Font  -----*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900');

/* -----  ionicons Font  -----*/
@import url("ionicons.min.css");

/* =====  INDEX OF STYLES =====

01 ===== BASIC  =====
  1.1 General
  1.2 Color Swicher
  1.3 Parallax 
  1.4 Typography   
  1.5 Spacing    
  1.6 Button
  1.7 Services
  1.8 Tab
  1.9 Progress Bars
  1.10 Inputs 
  
02 ===== HEADER ===== 
  2.1 Header
  2.2 Navbar
  
03 ===== CONTANT =====
  3.1 Banner
  3.2 Portfolio
  3.3 Blog
  3.4 Client
  3.5 About Us Page
  3.6 Team
  3.7 Contact Us
  3.8 map
  
04 ===== FOOTER =====*/

/* ----------------------------------------------
	BASIC
	1.1 General  
----------------------------------------------- */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    line-height: 24px;
    color: #000;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    background: #fff;
}
::-moz-selection {
    background-color: #1A1A1A;
    color: #FFF;
}

header .navbar-light .navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    border-bottom: 2px solid #ffc107 !important;
    transform: scaleX(0);
    transition: all 500ms ease;
}


#contact .title {
    color: #000;
}

.story_detail .accordion-item , .story_detail .accordion-button {
    background: none !important;
    color:#fff;
    
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link
{
    background: #ffc107;
    color: #000;

}

.nav-pills .nav-link
{
    color:#000;
    min-width: 140px;
    border: 1px solid #cacaca;
}

.new_footer {
    width: 82%;
    margin: 0px auto;
}

section#contact , .new_one {
    background: #fff;
}

.story_detail .accordion-button:not(.collapsed){
         border-bottom: 2px solid rgb(255 255 255 / 100%) !important;
}

.story_detail .accordion-item{
        border-bottom: 2px solid rgb(255 255 255 / 100%) !important;
}

.story_detail .accordion-button:not(.collapsed)::after , .story_detail .accordion-button::after {
    filter: brightness(0) invert(1);
}

header .navbar-light .navbar-nav .nav-link:hover::before {
    transform: scale(1);
}   
.about-text{
    padding:0px;
}

.about-heading.letters{
    font-weight: 700;
    font-size: 23px;
    line-height: 90px;
    padding-bottom: 0px;
    border-bottom: 1px solid #ffc107;
    display: inline-block;
    color: #000;
    margin-bottom: 20px;
}

.first_footer {
    border-bottom: 1px solid;
    margin-bottom: 7px;
}

.copyright-part {
    color: #000;
}

.footer-logo a {
    color: #000;
    font-size: 27px;
}

.footer-logo.mb_20 {
    margin-top: 6px;
}

.qu_code img {
    width: 111px;
}
::selection {
    background-color: #1A1A1A;
    color: #FFF;
}
img {
    height: auto;
    max-width: 100%;
    border: none;
    outline: none;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}
ul li {
    list-style: none;
}
br {
    font-size: 0;
    line-height: 0;
}
hr {
    margin-bottom: 0px;
    margin-top: 0px;
    border-top: 1px solid #000;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
.shop-detail hr {
    border-top: 1px solid #ccc;
}
ul {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0;
}
.bg-dark {
    background: #121212;
    color: #fff;
}
.light {
    color: #000 !important;
}
.red {
    color: #ffc107 !important;
}
.dark {
    color: #000 !important;
}

/* loader */

.cssload-container {
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: all .5s ease-out;
    background: #000;
}
.cssload-circle-1 {
    height: 117px;
    width: 117px;
    background: rgb(97, 46, 141);
}
.cssload-circle-2 {
    height: 97px;
    width: 97px;
    background: rgb(194, 34, 134);
}

.prject .about-inner figure {
    margin: 0px 45px 0px 0px;
}


.cssload-circle-3 {
    height: 78px;
    width: 78px;
    background: rgb(234, 34, 94);
}
.cssload-circle-4 {
    height: 58px;
    width: 58px;
    background: rgb(237, 91, 53);
}
.cssload-circle-5 {
    height: 39px;
    width: 39px;
    background: rgb(245, 181, 46);
}
.cssload-circle-6 {
    height: 19px;
    width: 19px;
    background: rgb(129, 197, 64);
}
.cssload-circle-7 {
    height: 10px;
    width: 10px;
    background: rgb(0, 163, 150);
}
.cssload-circle-8 {
    height: 5px;
    width: 5px;
    background: rgb(22, 116, 188);
}
.cssload-circle-1, .cssload-circle-2, .cssload-circle-3, .cssload-circle-4, .cssload-circle-5, .cssload-circle-6, .cssload-circle-7, .cssload-circle-8 {
    border-bottom: none;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    animation-name: cssload-spin;
    -o-animation-name: cssload-spin;
    -ms-animation-name: cssload-spin;
    -webkit-animation-name: cssload-spin;
    -moz-animation-name: cssload-spin;
    animation-duration: 4600ms;
    -o-animation-duration: 4600ms;
    -ms-animation-duration: 4600ms;
    -webkit-animation-duration: 4600ms;
    -moz-animation-duration: 4600ms;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}
@keyframes cssload-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@-o-keyframes cssload-spin {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(360deg);
    }
}
@-ms-keyframes cssload-spin {
    from {
        -ms-transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
    }
}
@-webkit-keyframes cssload-spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes cssload-spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

/* ----------------------------------------------
	1.2 Color Swicher  
----------------------------------------------- */

#colors-switcher {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
    left: 0;
    position: fixed;
    top: 25%;
    width: 160px;
    z-index: 2;
}
#colors-switcher div {
    padding: 12px
}
#colors-switcher h2 {
    color: #333;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 10px 4px 0px;
    text-align: center;
    text-transform: capitalize;
}
#colors-switcher h2 a {
    background-color: #ffc107;
    display: block;
    height: 40px;
    position: absolute;
    right: -40px;
    top: 0;
    width: 40px;
}
#colors-switcher h2 a i {
    position: absolute;
    font-size: 20px;
    color: #fff;
    left: 10px;
    top: 10px;
}
.colors {
    padding-left: 7px
}
.colors {
    margin: 0px 0px 10px 0px;
    list-style: none;
    overflow: hidden;
}
.colors li {
    float: left
}
.colors li a {
    cursor: pointer;
    display: block;
    height: 20px;
    width: 20px;
    margin: 5px;
}
.style1 {
    background: #000000 none repeat scroll 0 0;
}
.style2 {
    background: #F44336 none repeat scroll 0 0;
}
.style3 {
    background: #E91E63 none repeat scroll 0 0;
}
.style4 {
    background: #9C27B0 none repeat scroll 0 0;
}
.style5 {
    background: #673AB7 none repeat scroll 0 0;
}
.style6 {
    background: #3F51B5 none repeat scroll 0 0;
}
.style7 {
    background: #2196F3 none repeat scroll 0 0;
}
.style8 {
    background: #03A9F4 none repeat scroll 0 0;
}
.style9 {
    background: #00BCD4 none repeat scroll 0 0;
}
.style10 {
    background: #009688 none repeat scroll 0 0;
}
.style11 {
    background: #4CAF50 none repeat scroll 0 0;
}
.style12 {
    background: #795548 none repeat scroll 0 0;
}
.style13 {
    background: linear-gradient(135deg, #667eea, #764ba2);
}
.style14 {
    background: linear-gradient(135deg, #30cfd0, #330867);
}
.style15 {
    background: linear-gradient(135deg, #2af598, #009efd);
}
.style16 {
    background: linear-gradient(135deg, #09203f, #537895);
}
.style17 {
    background: linear-gradient(135deg, #00b09b, #96c93d);
}
.style18 {
    background: linear-gradient(135deg, #03001e, #7303c0, #ec38bc);
}
.style19 {
    background: linear-gradient(135deg, #070000, #4c0001, #070000);
}
.style20 {
    background: linear-gradient(135deg, #8E0E00, #1F1C18);
}
.colors li a.active {
    box-shadow: 0 0 0px 2px #fff
}

/* ----------------------------------------------
	1.3 Parallax  
----------------------------------------------- */

.parallax {
    height: auto;
    overflow: hidden;
    position: relative;
}

.footer{
    background: #fff;
}
.parallax::before {
    content: "";
    opacity: 0.4;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
}

/* ----------------------------------------------
	1.4 Typography  
----------------------------------------------- */

a {
    cursor: pointer;
    text-decoration: none;
    color: #999999;
    transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
}
a:hover, a:focus {
    color: #ffc107 !important;
    text-decoration: none;
    transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
}
a, a:focus, a:active, a:link, img {
    outline: none;
    text-decoration: none;
}
p {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}
h1 {
    font-size: 36px;
    line-height: 42px;
}
h2 {
    font-size: 26px;
    line-height: 26px;
}
h3 {
    font-size: 22px;
    line-height: 22px;
}
h4 {
    font-size: 18px;
    line-height: 18px;
}
h5 {
    font-size: 16px;
    line-height: 16px;
}
h6 {
    font-size: 14px;
    line-height: 14px;
}
.box-holder {
    margin-left: 15px;
    margin-right: 15px;
}
.capitalize {
    text-transform: capitalize;
}


.custom-btns.light {
    border: 2px solid #000;
}

/* ----------------------------------------------
	1.5 Spacing  
----------------------------------------------- */


/* =====  margin top  ===== */

.mtblr_20 {
    margin: 20px;
}
.mt_0 {
    margin-top: 0;
}
.mt_10 {
    margin-top: 10px;
}
.mt_20 {
    margin-top: 20px;
}
.mt_30 {
    margin-top: 30px;
}
.mt_40 {
    margin-top: 40px;
}
.mt_50 {
    margin-top: 50px;
}
.mt_60 {
    margin-top: 60px;
}
.mt_70 {
    margin-top: 70px;
}
.mt_80 {
    margin-top: 80px;
}
.mt_90 {
    margin-top: 90px;
}
.mt_100 {
    margin-top: 100px;
}

/* =====  margin bottom  ===== */

.mb_0 {
    margin-bottom: 0;
}
.mb_10 {
    margin-bottom: 10px;
}
.mb_20 {
    margin-bottom: 20px;
}
.mb_30 {
    margin-bottom: 30px;
}
.mb_40 {
    margin-bottom: 40px;
}
.mb_50 {
    margin-bottom: 50px;
}
.mb_60 {
    margin-bottom: 60px;
}
.mb_70 {
    margin-bottom: 70px;
}
.mb_80 {
    margin-bottom: 80px;
}
.mb_90 {
    margin-bottom: 90px;
}
.mb_100 {
    margin-bottom: 100px;
}

/* =====  margin top bottom ===== */

.mtb_10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.mtb_20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.mtb_30 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.mtb_40 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.mtb_50 {
    margin-top: 50px;
    margin-bottom: 50px;
}
.mtb_60 {
    margin-top: 60px;
    margin-bottom: 60px;
}
.mtb_70 {
    margin-top: 70px;
    margin-bottom: 70px;
}
.mtb_80 {
    margin-top: 80px;
    margin-bottom: 80px;
}
.mtb_90 {
    margin-top: 90px;
    margin-bottom: 90px;
}
.mtb_100 {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* =====  padding  ===== */

.no-padding {
    padding: 0;
}

.large-header .banner-detail img {
    width: 100% !important;
}

/*.large-header .banner-detail .carousel-item{*/
/*    height:450px;*/
/*}*/

.about-inner {
    border-bottom: 1px solid #ffc10769;
}


/* =====  padding top ===== */

.pt_10 {
    padding-top: 10px;
}
.pt_20 {
    padding-top: 20px;
}
.pt_30 {
    padding-top: 30px;
}
.pt_40 {
    padding-top: 40px;
}
.pt_50 {
    padding-top: 50px;
}
.pt_60 {
    padding-top: 60px;
}
.pt_70 {
    padding-top: 70px;
}
.pt_80 {
    padding-top: 80px;
}
.pt_90 {
    padding-top: 90px;
}
.pt_100 {
    padding-top: 100px;
}

/* =====  padding bottom ===== */

.pb_10 {
    padding-bottom: 10px;
}
.pb_20 {
    padding-bottom: 20px;
}
.pb_30 {
    padding-bottom: 30px;
}
.pb_40 {
    padding-bottom: 40px;
}
.pb_50 {
    padding-bottom: 50px;
}
.pb_60 {
    padding-bottom: 60px;
}
.pb_70 {
    padding-bottom: 70px;
}
.pb_80 {
    padding-bottom: 80px;
}
.pb_90 {
    padding-bottom: 90px;
}
.pb_100 {
    padding-bottom: 100px;
}

/* =====  padding top bottom ===== */

.ptb_10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.ptb_20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.ptb_30 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.ptb_40 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.ptb_50 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.ptb_60 {
    padding-top: 60px;
    padding-bottom: 60px;
}
.ptb_70 {
    padding-top: 70px;
    padding-bottom: 70px;
}
.ptb_80 {
    padding-top: 80px;
    padding-bottom: 80px;
}
.ptb_90 {
    padding-top: 90px;
    padding-bottom: 90px;
}
.ptb_100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* =====  button  =====*/

.btn {
    border-radius: 0;
    text-transform: uppercase;
}
.btn:hover, .btn:focus, .btn.focus {
    color: #999;
    text-decoration: none;
}
.btn-link {
    color: #000;
    border-bottom: 1px solid;
    padding: 0 0 10px;
    letter-spacing: 0;
}
.custom-btn {
    padding: 10px 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    display: inline-block;
    z-index: 0;
    color: #000;
}

/* ----------------------------------------------
	1.6 Button  
----------------------------------------------- */


/* =====  custom-btns  =====*/

.custom-btns {
    border: 2px solid #000;
}
.custom-btns.light {
    border: 2px solid #000;
}
.custom-btns:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #000;
    transition: all 0.3s ease;
}
.custom-btns.light:after {
    background: #fff;
}
.custom-btns:hover {
    color: #fff;
}
.custom-btns.light:hover {
    color: #000 !important;
}
.custom-btns:hover:after {
    top: 0;
    height: 100%;
}

/* ----------------------------------------------
	1.7 Services 
----------------------------------------------- */

.service:hover h4 {
    color: #ffc107;
}

/* =====  Icon  =====*/

i.left {
    margin-right: 10px;
}
i.right {
    margin-left: 10px;
}
.icon-top i, .icon-right i, .icon-left i {
    color: #ffc107;
    font-size: 40px;
}
.feature-i-left {
    padding-left: 80px;
}
.feature-i-right {
    padding-right: 80px;
}
.feature-i-left, .feature-i-right {
    display: inline-block;
    position: relative;
}
.icon-left, .icon-right {
    display: inline-block;
    position: absolute;
    text-align: center;
    width: 30px;
    height: 100%;
}
.icon-left {
    right: 0;
}
.icon-right {
    left: 0;
}
.icon-left:after, .icon-right:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #000;
    transition: all 0.3s ease;
}
.custom-btns.light:after {
    background: #fff;
}

/* ----------------------------------------------
	1.8 Tabs 
----------------------------------------------- */

.nav>li>a {
    padding: 7px 15px;
}

/* ----------------------------------------------
	1.9 Progress Bars 
----------------------------------------------- */

.progress-title {
    font-size: 16px;
    font-weight: 700;
    color: #011627;
    margin: 0 0 20px;
}
.progress {
    height: 10px;
    background: #cbcbcb;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 30px;
    overflow: visible;
}
.progress .progress-bar {
    box-shadow: none;
    position: relative;
    -webkit-animation: animate-positive 2s;
    animation: animate-positive 2s;
}
.progress .progress-bar::after {
    border-color: transparent;
    border-image: none;
    border-style: solid;
    border-width: 12px 6px 14px;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -26px;
}
.progress .progress-value {
    font-size: 15px;
    font-weight: bold;
    color: #000;
    position: absolute;
    top: -40px;
    right: 0;
}
.circle {
    width: 100%;
    display: inline-block;
    text-align: center;
    line-height: 1.2;
}
.circle strong {
    line-height: 40px;
    position: absolute;
    text-align: center;
    left: 0;
    top: 30px;
    width: 100%;
    font-size: 30px;
    color: #fff;
}
.circle strong i {
    font-style: normal;
    font-size: .6em;
    font-weight: 400;
}
.circle h6 {
    display: block;
    margin-top: 12px;
    color: #fff;
    font-weight: 400;
}
@-webkit-keyframes animate-positive {
    0% {
        width: 0;
    }
}
@keyframes animate-positive {
    0% {
        width: 0;
    }
}
#p_line .progress {
    position: relative;
    height: 25px;
    box-shadow: none;
    border-radius: 0;
    background-color: #ddd;
}

header#header {
    background: #fff !important;
}

#p_line .progress>.progress-type {
    position: absolute;
    left: 0px;
    padding: 0px 10px;
    color: rgb(255, 255, 255);
}
#p_line .progress>.progress-completed {
    position: absolute;
    right: 0px;
    padding: 0px 10px;
    color: #000;
}

/* ----------------------------------------------
	1.10 Inputs
----------------------------------------------- */

input[type="text"], input[type="email"], input[type="tel"], input[type="number"], input[type="password"], input[type="radio"], input[type="checkbox"], input[type="file"], textarea, select {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #424242;
    border-image: none;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    background-color: transparent;
    /*color: #fff;*/
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    outline: medium none;
    transition: all 0.2s ease 0s;
    padding: 12px 18px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #616161;
    opacity: 1
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #616161;
    opacity: 1
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: #616161;
    opacity: 1
}
:-moz-placeholder {
    /* Firefox 18- */
    color: #616161;
    opacity: 1
}
/*input:focus, textarea:focus {*/
/*    border-color: #fff;*/
/*}*/
.full-with-form {
    width: 100%;
    max-width: 100%;
}

/* =====  Select  =====*/

.form-control {
    border-radius: 0px;
    box-shadow: none;
    max-width: 100%;
}
.form-control:focus {
    box-shadow: none;
    border-color: #616161;
}

/* ----------------------------------------------
	HEADER
	2.1 Header
----------------------------------------------- */

header {
        background: #0000002e ;
    width: 100%;
    /*position: fixed;*/
    position: sticky;
    top: 0;
    z-index: 100;
    transition: 0.6s;
    padding: 10px 0;
}

/* ----------------------------------------------
	2.2 Navbar
----------------------------------------------- */

.navbar-header .navbar-brand {
    height: auto;
    padding: 17px 0 0 20px;
    margin-top: 0 !important;
    margin-left: 0 !important;
}
.navbar {
    margin-bottom: 0;
    border: 0;
}
.navbar-collapse {
    border: none;
    box-shadow: none;
}

/* ----------------------------------------------
	CONTANT
	3.1 Banner
----------------------------------------------- */

#canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
#smoky {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.main-area {
    height: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
}
#surface-shader {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* ===== particles ===== */

#stats {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}
#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

/* ---- particles.js container ---- */

#particles-js {
    max-width: none;
    width: auto;
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

/* ===== particles ===== */


/* ===== demo-canvas ===== */

#screen {
    position: relative;
    max-width: none;
    width: 100%;
    height: 100vh;
    background-position: center center;
}

/* ===== Full banner ===== */

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 5s;
    -moz-transition: opacity 5s;
    transition: opacity 5s;
}
.hiddens {
    opacity: 0;
}
#customElement {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    background-size: cover;
}

/* ===== Full banner ===== */

/*.large-header, .banner2 {*/
/*    height: 100vh;*/
/*    overflow: hidden;*/
/*}*/
.banner {
    position: relative;
}
.banner_bg {
    width: 100%;
    height: 100vh;
    background-position: center center;
    /* background-image: url(../images/banner2.jpg); */
}
.banner-detail {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background-image: url('../images/banner2.jpg'); */
    background-position: 50% 50%;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: all .5s ease-out;
}

.large-header, .banner2, .banner-jas, .banner-nrf {
    /*height: 450px !important;*/
   background: #fff !important;
}

#about {
    background: #fff !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
    position: relative;
    font-size:16px;
    font-weight:600;
}

.navbar-light .navbar-brand {
    color: #fff;
}

.banner-About {
    /*position: absolute;*/
    width: 100%;
    height: 450px;
    top: 0;
    left: 0;
    background-image: url('../images/banne.jpg');
    background-position: 50% 50%;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: all .5s ease-out;
}

.banner-jas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('../images/dsw.jpg');
    background-position: 50% 50%;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: all .5s ease-out;
}

.banner-nrf {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('../images/nfe.jpg');
    background-position: 50% 50%;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: all .5s ease-out;
}




.cd-intro p {
    display: block;
}
.cd-intro .home-arrow-down {
    text-align: center;
    position: absolute;
    top: 150%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.cd-intro .home-arrow-down .btn {
    font-size: 25px;
}
.cd-intro .home-arrow-down .fa {
    color: #fafafa;
    display: inline-block;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-animation-name: bounce;
    animation-name: bounce;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
.cd-intro {
    text-align: center;
    z-index: 1;
}
.cd-headline {
    font-size: 30px;
    line-height: 1.2;
    color: #fff;
}
.cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
}
.cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}
.cd-words-wrapper b.is-visible {
    position: relative;
}
.cd-headline.type .cd-words-wrapper {
    vertical-align: top;
    overflow: hidden;
}
.cd-headline.type .cd-words-wrapper::after {
    /* vertical bar */
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 90%;
    width: 2px;
    background-color: #fff;
}
.cd-headline.type .cd-words-wrapper.waiting::after {
    -webkit-animation: cd-pulse 1s infinite;
    -moz-animation: cd-pulse 1s infinite;
    animation: cd-pulse 1s infinite;
}
.cd-headline.type .cd-words-wrapper.selected {
    background-color: #FFC107;
}
.cd-headline.type .cd-words-wrapper.selected::after {
    visibility: hidden;
}
.cd-headline.type .cd-words-wrapper.selected b {
    color: #0d0d0d;
}
.cd-headline.type b {
    visibility: hidden;
}
.cd-headline.type b.is-visible {
    visibility: visible;
}
.cd-headline.type i {
    position: absolute;
    visibility: hidden;
    font: inherit;
    color: #fff;
    text-transform: capitalize;
}
.cd-headline.type i.in {
    position: relative;
    visibility: visible;
}
@media only screen and (min-width: 320px) {
    .cd-headline {
        font-size: 30px;
        font-weight: 200;
        text-transform: uppercase;
    }
}
@media only screen and (min-width: 480px) {
    .cd-headline {
        font-size: 50px;
        font-weight: 200;
    }
}
@media only screen and (min-width: 768px) {
    .cd-headline {
        font-size: 70px;
        font-weight: 200;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-headline {
        font-size: 120px;
        text-transform: uppercase;
    }
}
@-webkit-keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}
@-moz-keyframes cd-pulse {
    0% {
        -moz-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -moz-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -moz-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}
@keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        -moz-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        -o-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        -moz-transform: translateY(-50%) scale(0.9);
        -ms-transform: translateY(-50%) scale(0.9);
        -o-transform: translateY(-50%) scale(0.9);
        transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        -moz-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        -o-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}

/* ----------------------------------------------
	3.2 Portfolio
----------------------------------------------- */

.main_title {
    display: inline-block;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    font-size: 45px;
    line-height: 60px;
}
.title {
    font-size: 14px;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.story_detail {
    color: #F5F5F5;
	 z-index: 2;
    position: relative;
}
.project-title {
    color: #fff;
}
.portfolio-filter.nav.navbar-nav {
    float: none;
}
.nav>li>a:hover, .nav>li>a:focus {
    background: transparent;
}
.tab-bar ul {
    list-style: none;
    text-align: center;
    display: inline-block;
}
.tab-bar ul li {
    display: inline-block;
}
.tab-bar ul li a {
    padding: 5px 15px;
}
.tab-bar ul li.active a, .tab-bar ul li:hover a {
    color: #ffc107;
}
.isotope {
    display: inline-block;
    width: 100%;
}
.grid-item {
    display: block;
    position: relative;
    padding: 15px;
}
.grid-item a {
    background: #000;
    overflow: hidden;
    display: block;
    position: relative;
}
.three-col-work .grid-item, .three-col-blog .blog-item {
    width: 33.33%;
    min-height: 1px;
}
.three-col-blog, .three-col-work {
    display: inline-block;
}
.grid .three-col-work .grid-item {
    float: left;
    position: relative;
}
.isotope .grid-item.filtered {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    filter: alpha(opacity=0);
}
.grid-item a:hover img {
    opacity: 0.2;
    filter: alpha(opacity=60);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.grid-item .work-detail {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
}
.grid-item a:hover .work-detail {
    opacity: 1;
    bottom: 20px;
}
#portfolio .isotope, #portfolio .masonry-brick, #portfolio .grid-item img {
    max-width: 100%;
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
}
.two-col-work .grid-item>a, .three-col-work .grid-item>a, .four-col-work .grid-item>a {
    position: relative;
}

/* ----------------------------------------------
	3.3 blog
----------------------------------------------- */

.post-type {
    background: #000;
    color: #ffc107;
    cursor: default;
    font-size: 16px;
    height: 40px;
    left: 25px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 40px;
}
.post-info {
    display: inline-block;
    padding-top: 20px;
}
.blog .date i {
    margin-right: 10px;
}
.blog-item:hover h2 a {
    color: #ffc107;
}
#blog-post .owl-nav {
    position: absolute;
    top: 0;
    width: 100%;
}
#blog-post .owl-nav>div {
    height: 400px;
    width: 200px;
    font-size: 0px;
    position: absolute;
}
#blog-post .owl-nav .owl-next {
    cursor: url(../images/right_arrow.png), auto !important;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#blog-post .owl-nav .owl-prev {
    cursor: url(../images/left_arrow.png), auto !important;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#blog-post .owl-nav .owl-prev {
    left: 0px;
}
#blog-post .owl-nav .owl-next {
    right: 0px;
}
.details {
    border-top: 1px solid #ffc107;
    padding-top: 15px;
}

/* ----------------------------------------------
	3.4 Client
----------------------------------------------- */

#client .type-01 {
    margin: 0 20px;
}
.client .owl-nav {
    position: absolute;
    top: 0;
    width: 100%;
}
.client .owl-nav>div {
    height: 300px;
    width: 300px;
    font-size: 0px;
    position: absolute;
}
.client .owl-nav .owl-prev {
    left: -200px;
}
.client .owl-nav .owl-next {
    right: -200px;
}
.client .type-01 h2 {
    margin-left: 30px;
    margin-right: 30px;
}
.client .fa.fa-quote-left {
    color: #ffc107;
    font-size: 50px;
}
.client-designation {
    display: inline-block;
    font-weight: 300;
}
.client-title strong {
    color: #000;
    text-transform: uppercase;
}
.client-detail {
    color: #F5F5F5;
}

/* ----------------------------------------------
	3.5 About Us Page
----------------------------------------------- */

.about-heading {
    font-weight: 700;
    font-size: 30px;
    line-height: 70px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ffc107;
    display: inline-block;
    color: #000;
}
.about-heading span {
    font-weight: 300;
}
.about-text>p::first-letter {
    font-size: 18px;
    color: #fff;
}
.about-text {
    margin: 0 0 40px;
    padding-right: 95px;
}
.about-text p {
    letter-spacing: 1px;
}
figure {
    margin: auto;
}
.about-inner figure img {
    max-width: none;
    width: 100%;
}
.about-inner figure {
    -webkit-box-shadow: 25px 25px 0px 0px #ffc107;
    -moz-box-shadow: 25px 25px 0px 0px #ffc107;
    box-shadow: 25px 25px 0px 0px #ffc107;
    -webkit-transition: .8s;
    transition: .8s;
    margin: 0px 45px 0px 20px;
}
.about-inner figure:hover {
    -webkit-box-shadow: 0px 0px 0px 0px #ffc107;
    -moz-box-shadow: 0px 0px 0px 0px #ffc107;
    box-shadow: 0px 0px 0px 0px #ffc107;
    -webkit-transition: .8s;
    transition: .8s;
}

/* ----------------------------------------------
	3.6 Team
----------------------------------------------- */

.team3col .owl-nav {
    position: absolute;
    top: 0;
    width: 100%;
}
.team3col .owl-nav>div {
    font-size: 0;
    height: 360px;
    position: absolute;
    width: 200px;
}
.team3col .owl-nav .owl-next {
    cursor: url(../images/right_arrow.png), auto !important;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.team3col .owl-nav .owl-prev {
    cursor: url(../images/left_arrow.png), auto !important;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.team3col .owl-nav .owl-prev {
    left: 0px;
}
.team3col .owl-nav .owl-next {
    right: 0px;
}
.team-detail {
    padding: 0 15px;
}
.team-designation, .team-title {
    text-transform: uppercase;
}
.team .social>li, .team_grid .social>li {
    background: #dfdfdf none repeat scroll 0 0;
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    margin: 0 5px;
    width: 40px;
}
.team .social>li:hover, .team_grid .social>li:hover {
    background: #ffc107;
}
.team .social>li:hover a, .team_grid .social>li:hover a {
    color: #fff !important;
}
.social li a i {
    margin: 12px;
    color: #000;
}
.team-detail .team-item-img {
    filter: grayscale(100%);
}
.team-detail:hover .team-item-img {
    filter: grayscale(0%);
}
.team-detail:hover .team-title {
    color: #ffc107;
}

/* ----------------------------------------------
	3.7 Contact Us
----------------------------------------------- */

.contact .fa {
    margin-right: 10px;
    color: #ffc107;
}

/* ----------------------------------------------
	3.8 map
----------------------------------------------- */

.map_right #map {
    height: 530px;
}
#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

/* ----------------------------------------------
	FOOTER
----------------------------------------------- */

/*.footer {*/
/*    text-align: center;*/
/*}*/
.footer-link li {
    display: inline-block;
}
.footer-link li a {
    border-left: 1px solid #808080;
    padding: 0 10px;
    display: inline-block;
    line-height: 1;
}
.footer-link li:first-child a {
    border: none;
}

.new_footer img {
    width: 45%;
    margin: 0px auto;
}

/*.copyright-part {*/
/*    color: #fff;*/
/*}*/
.social_icon li {
    display: inline-block;
    height: 25px;
    width: 25px;
}
.social_icon ul li i.fa {
    background-color: transparent;
    font-size: 16px;
    color: #000;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
}
.social_icon ul li a i.fa:hover {
    color: #ffc107;
}


/* ----------------------------------------------
	RESPONSIVE
----------------------------------------------- */

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

/*-----------------------------------*/

@media (min-width: 992px) and (max-width: 1199px) {
    .about-title {
        font-size: 40px;
        line-height: 55px;
    }
}

/*----------------------------------*/

@media (max-width:991px) {
    .three-col-work .grid-item, .three-col-blog .blog-item {
        width: 50%;
    }
    .client .owl-nav {
        display: none;
    }
    .about-text {
        padding: 20px;
    }
    
    /*.navbar-light .navbar-toggler-icon{*/
    /*        filter: brightness(0) invert(1);*/
    /*}*/
    
    .navbar-collapse {
        /*background: #000;*/
        padding: 0px 12px;
        margin-top: 21px;
    }
}

/*-----------------------------------*/

@media (min-width: 768px) and (max-width: 991px) {}

/*-----------------------------------*/

@media (max-width: 767px) {
    .banner_bg {
        overflow: hidden;
    }
    .banner_bg>img {
        max-width: none;
        width: auto;
    }
    .portfolio-filter.nav.navbar-nav {
        display: inline;
    }
    .portfolio-filter.nav.navbar-nav>li {
        background: #262626 none repeat scroll 0 0;
        margin: 2px 0;
    }
    
    .about-heading {
        font-weight: 700;
        font-size: 21px;
        line-height: 70px;
        padding-bottom: 3px;
    }    

    .three-col-work .grid-item, .three-col-blog .blog-item {
        width: 100%;
    }
    .large-header, .banner2{
            height: auto;
        overflow: hidden;
    }
    
}

/*-----------------------------------*/

@media (max-width:650px) {
    .cd-intro p {
        display: none;
    }
}

.swiper {
  width: 100%;
  height: auto;
}
